*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}
.header__logo{
    display: flex;
    align-items: center;
}
header{
    box-shadow: 0 4px 8.7px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 3% 7%;
    border: 1px solid rgba(188, 170, 170, 1)
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 3% ;
    width: 35%;
}
.header__navbar-a{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;    
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(188, 170, 170, 1);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;
    padding-bottom: 30px;   
}
.header__navbar-a:hover{
    color: rgba(239, 64, 15, 1);
    border-bottom:3px solid rgba(239, 64, 15, 1);
}
.header__post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.header__post-a{
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
    text-align: left;    
    align-items: center;
    display: flex;
    color: rgba(239, 64, 15, 1);
    border: 3px solid rgba(239, 64, 15, 1);
    padding: 3% 4%;
    width: 219px;
    height: 63px;
    border-radius: 20px;
    display: flex;
}
section{
    padding: 3% 7%;
}
.section__topblock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    margin-bottom: 40px;
}
.section__topblock-leftside{
    height: 48px;
    width: 220px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.section__topblock-leftside-title{
    color: rgba(13, 12, 92, 1);
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48.41px;
    text-align: left;    
}
.section__topblock-centreside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}
.section__topblock-centreside-search{
    border-radius: 20px;
    height: 63px;
    width: 386px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 3% 4%;
    color: rgba(255, 255, 255, 0.72);
    outline: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
}
.section__topblock-centreside-click{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 63px;
    color: white;
    background-color: rgba(13, 12, 92, 1);
    font-size: 20px;
    font-family: Inter;
    border: none;
    border-radius: 20px;
}
.section__topblock-rightside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}
.section__topblock-rightside-discounts{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    text-align: left;
    color: rgba(239, 64, 15, 1);    
}
.section__table{
    gap: 30px;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.section__table-choise{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 290px;
    height: 290px;
    padding: 20px 50px 20px 50px;
    border-radius: 30px;
    box-shadow: 0 4px 13.3px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: left;    
}
.section__table-choise-coins{
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.15px;
    text-align: left;
    color: rgba(0, 0, 0, 0.67);    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.section__table-choise-count{
    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 15.73px;
    text-align: left;
    color: rgba(0, 0, 0, 0.75);    
    margin-top: 15px;
}
.section__table-choise-nonecounte{
    color: rgba(0, 0, 0, 0.3);
}
.section__table-choise-minetitle{
    color: rgba(0, 0, 0, 0.33);
}
.section__table-choise-unsual{
    font-size: 11px;
    color:rgba(0, 0, 0, 0.75);
    width: 276px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    padding: 1% 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 17.9px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(188, 170, 170, 0.31);
}
.footer__bornmars{
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;    
}
.footer__politics{
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.36px;
    text-align: left;
    color: black;
    text-decoration: underline;    
}
.footer__politics:active{
    color: grey;
    text-decoration: none;
}